<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home Page </title>
</head>
<body>
    <h1>
        This is the Home Page 
    </h1>
    <hr>
    {% if not user.is_authenticated %}
        <a href="{% url 'login' %}">
             Login Page 
        </a>
        <br>
    {% endif %}
    {% if user.is_authenticated %}
        <a href="{% url 'todo' %}"> 
            Todo Page 
        </a>
    {% endif %}
</body>
</html>