<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login Page </title>
</head>
<body>
    <h1>
        This is login page
    </h1>
    <hr>
    <form method="post">
        {% csrf_token %}
        {{ login_form.as_p }}
        <button type="submit">
            click me
        </button>
    </form>
    <br>
    <h3>
        dont have a account please <a href="{% url 'sign_up' %}" >Click this</a>.  
    </h3>
</body>
</html>