<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Todo Page </title>
</head>
<body>
    <h1>
        This is todo page
    </h1>
    <hr>
    {% if todos.count is not 0 %}
        {% for todo in todos %}
            <p> {{ todo.text }}</p>

            {% if todo.is_checked ==  True %}
                <p>
                    done
                </p>
            {% else %}
                <p>
                    not done
                </p>
            {% endif %}

            <a href="{% url 'edit_todo' todo.id %}"> edit this object </a>
            <br>
            <a href="{% url 'delete_todo' todo.id %}"> delete this object </a>
            <hr>
        {% endfor %}
    {% else %}
        <p>please create a todo!!</p>
    {% endif %}
    <a href="{%url 'create_todo'%}">
        Click to create
    </a>
</html>