<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Todo Page </title>
</head>
<body>
    <h1>
        This is todo page
    </h1>
    <hr>
    {% if todos.count is not 0 %}
        {% for todo in todos %}
            <p> {{ todo.text }}</p>
            <p> this is {{ todo.is_checked }}</p>
            <a href="{% url 'edit_todo' todo.id %}"> edit this object </a>
            <hr>
        {% endfor %}
    {% else %}
        <p>please create a todo!!</p>
    {% endif %}
    <a href="{%url 'create_todo'%}">
        Click to create
    </a>
</html>